.navbar {
  background-color: white !important;
  scroll-behavior: smooth;
}

.menu {
  align-items: center;
}

.login {
  background-color: #2980b9;
}


.gradient {
position: fixed;
top: 0;
bottom: 0;
width: 100vw;
height: 100vh;
z-index: -10;
}

.orange-gradient {
position: absolute;
z-index: -10;
opacity: 0.5;
width: 100vw;
height: 100vh;
background: linear-gradient(45deg, #f4671c, #f4c58f, #f4671c, #f4c58f);
background-size: 400% 400%;
animation: gradient 20s ease infinite;
}


@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}